@import "_reset";
@import "_main";
@import "_fonts";

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 62.5%;
}
@media only screen and (max-width: 1200px) {
    html {
        font-size: 52%;
    }
}
:root {
    --primary-color: #fe82c0;
    --text-color: #454955;
    --pink-light: #fff2f9;
}
@media (min-width: 992px) {
    .gutter-20 {
        margin-left: -20px;
        margin-right: -20px;
    }
    .gutter-20 > [class*="col-"] {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.gutter-15 {
    margin-left: -15px;
    margin-right: -15px;
    @media (max-width: 991px) {
        margin-left: -10px;
        margin-right: -10px;
    }
}
.gutter-15 > [class*="col-"] {
    padding-left: 15px;
    padding-right: 15px;
    @media (max-width: 991px) {
        padding-left: 10px;
        padding-right: 10px;
    }
}

body {
    font-family: "WorkSans";
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}
body.hidden {
    overflow: hidden;
}
.container {
    padding: 0 15px;
    @media (min-width: 1200px) {
        max-width: 1170px;
        width: 100%;
    }
}
/*--------------HEADER----------------*/
.header__wrapper {
    padding: 1rem 0;
    .header__logo {
        max-width: 13.7rem;
    }
    .header__right {
        display: flex;
        align-items: center;
        @media (max-width: 991px) {
            display: none;
        }
        &-nav {
            ul {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 0 3rem;
                li {
                    font-size: 15px;
                    font-weight: 500;
                    @extend %smooth-trans;
                    &:hover {
                        color: var(--primary-color);
                    }
                }
            }
        }
        &-search {
            margin-left: 7rem;
            form {
                padding-left: 2.5rem;
                border-left: 1px solid var(--text-color);
                display: flex;
                justify-content: space-between;
                input {
                    border: none;
                }
                button {
                    &:hover {
                        svg {
                            path {
                                fill: var(--primary-color);
                            }
                        }
                    }
                }
            }
        }
    }
}
.header__nav-secondary {
    background: var(--primary-color);

    ul {
        display: flex;
        align-items: center;
        @media (min-width: 768px) {
            height: 6rem;
            line-height: 6rem;
        }
        @media (max-width: 767px) {
            flex-wrap: nowrap;
            overflow-x: auto;
            scroll-snap-type: x mandatory;
        }
        li {
            flex-basis: 20%;
            text-align: center;
            color: #fff;
            text-transform: uppercase;
            font-size: 15px;
            font-weight: 700;
            border-left: 1px solid #fff;
            position: relative;
            @extend %smooth-trans;
            @media (max-width: 991px) {
                font-size: 14px;
            }
            @media (max-width: 767px) {
                min-width: 40%;
                scroll-snap-align: center;
                padding: 1rem 0;
            }
            &:last-child {
                border-right: 1px solid #fff;
            }
            a {
                display: block;
            }
            &:hover {
                color: var(--primary-color);
                background: #f5f5f5;
            }
            &.active {
                color: var(--primary-color);
                background: #f5f5f5;
                &:after {
                    position: absolute;
                    content: "";
                    width: 15px;
                    height: 20px;
                    bottom: -20px;
                    left: 50%;
                    transform: translateX(-50%);
                    background: #f5f5f5;
                    clip-path: polygon(50% 50%, 0 0, 100% 0);
                }
            }
        }
    }
}
.bar__mb {
    display: none;
    @media (max-width: 991px) {
        display: block;
    }
    .line {
        width: 30px;
        height: 3px;
        background-color: #000;
        display: block;
        margin: 6px auto;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
    &.active {
        .line:nth-child(1) {
            -webkit-transform: translateY(6px) rotate(45deg);
            -ms-transform: translateY(6px) rotate(45deg);
            -o-transform: translateY(6px) rotate(45deg);
            transform: translateY(6px) rotate(45deg);
        }
        .line:nth-child(2) {
            opacity: 0;
        }
        .line:nth-child(3) {
            -webkit-transform: translateY(-12px) rotate(-45deg);
            -ms-transform: translateY(-12px) rotate(-45deg);
            -o-transform: translateY(-12px) rotate(-45deg);
            transform: translateY(-12px) rotate(-45deg);
        }
    }
}
.menu-mobile {
    ul {
        margin-top: 2rem;
    }
    .logo-mb {
        margin-top: 4rem;
        img {
            max-width: 14.3rem;
            margin: auto;
        }
    }
    .search-mb {
        margin-top: 2rem;
        form {
            padding: 0 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 4rem;
            button {
                width: 4rem;
                flex-shrink: 0;
                height: 100%;
                background: #fff;
            }
            input {
                width: 100%;
                padding: 0 1rem;
                height: 100%;
                border: 1px solid #fff;
                flex: 1;
            }
        }
    }
}

/*---------Home service-------------*/
.home__list-wrapper {
    display: flex;
    align-items: center;
    max-width: 1920px;
    margin: auto;
    flex-wrap: wrap;
    @media (max-width: 991px) and(min-width:768px) {
        justify-content: center;
    }
    @media (max-width: 767px) {
        flex-wrap: nowrap;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
    }
    .home__service-item {
        flex-basis: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 4rem 0 5rem 0;
        @media (max-width: 991px) {
            flex-basis: 33.33333%;
        }
        @media (max-width: 767px) {
            scroll-snap-align: center;
            min-width: 60%;
            padding: 2rem 0;
        }
        &:nth-child(odd) {
            background: #fbfbfb;
        }
        .home__service-img {
            margin-bottom: 3rem;
            padding-top: 55%;
            @extend %smooth-trans;
            &:hover {
                transform: translateY(-10px);
            }

            img {
                object-fit: contain;
                max-width: 23rem;
                margin: auto;
            }
        }
        .desc {
            text-align: center;
            p {
                font-size: 1.6rem;
                text-transform: uppercase;
            }
            .service-title {
                margin-bottom: 2.2rem;
                font-size: 3rem;
                font-weight: 700;
                text-transform: uppercase;
                @media (max-width: 767px) {
                    font-size: 2.2rem;
                }
            }
            .view-more-btn {
                margin: auto;
            }
        }
    }
}
.view-more-btn {
    width: 16rem;
    height: 4.5rem;
    line-height: 4.4rem;
    border-radius: 20px;
    border: 1px solid var(--i);
    font-size: 16px;
    color: var(--i);
    @extend %smooth-trans;
    a {
        display: inline-block;
        text-align: center;
    }
    svg {
        display: none;
    }
    &:hover {
        background: var(--i);
        color: #fff;
        svg {
            display: inline-block;
        }
    }
}
.heading-title {
    font-size: 3.7rem;
    font-weight: 700;
    .dark-text {
        color: var(--text-color);
    }
    .pink-text {
        color: var(--primary-color);
    }
}
.pd-70 {
    padding: 7rem 0;
}

.home__news {
    background: var(--pink-light);
    .heading-block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media(max-width:767px){
        justify-content: center;
        }
        .view-more-btn {
            a {
                display: block;
            }
        }
    }
    .home__news-list {
        margin-top: 6rem;
        .news-big-item {
            .news-img {
                .c-img {
                    padding-top: 59%;
                }
            }
            .news-desc {
                margin-top: 4rem;
                .news-title {
                    font-size: 2.4rem;
                    font-weight: 600;
                    margin: 2rem 0;
                    @extend %smooth-trans;
                    &:hover {
                        color: var(--primary-color);
                    }
                }
                .desc {
                    text-align: justify;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    word-break: break-word;
                }
            }
        }
        .list-news-sm {
            .news-sm-item {
                margin-bottom: 4rem;
                @media (max-width: 991px) {
                    margin-bottom: 2.5rem;
                }
                .news-title {
                    font-size: 2rem;
                    font-weight: 600;
                    margin-top: 2rem;
                    @extend %smooth-trans;
                    &:hover {
                        color: var(--primary-color);
                    }
                }
            }
        }
    }
}
.date {
    display: flex;
    align-items: center;
    svg {
        margin-right: 1rem;
    }
    span {
        font-weight: 500;
        line-height: 1.2;
    }
}

/*Header-slider*/
.header__slider {
    .header__slider-item {
        position: relative;
        .header__slider-img {
            height: 100%;
            img{
                min-height: 16rem;
                object-fit: cover;
                height: 100%;
                @media(max-width:767px){
                min-height: 100vh;
                object-position: left;
                }
            }
        }
    }
    .header__slider-text {
        padding: 2.5rem 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @media(max-width:767px){
        display:flex;
        justify-content:center;
        align-items:center;
        }
        .text-block {
            display: flex;
            align-items: center;
            @media(max-width:767px){
            flex-direction: column;
            }
            .text-box-left {
                text-align: right;
                margin-right: 1.5rem;
                @media(max-width:767px){
                margin-right: 0;
                text-align: center;
                margin-bottom: 2rem;
                }
            }
            .text-box-right {
                margin-left: 1.5rem;
                @media(max-width:767px){
                margin-left: 0;
                }
            }
            .text-item {
                font-weight: 500;
                font-size: 1.9rem;
                text-transform: uppercase;
                color: #73000a;
                -webkit-text-stroke: 1px #f8f8f8;
                text-shadow: 0px 1px 4px #fff;
            }
            .text-box-center {
                line-height: 1.1;
                font-size: 6rem;
                font-weight: 800;
                color: #fff;
                text-shadow: 0px 3px 2px #ccc, 1px 1px 9px rgb(0 0 0 / 15%), 3px -4px 2px rgb(0 0 0 / 70%);
                @media(max-width:767px){
                margin-bottom: 2rem;
                }
            }
        }
        .text-block-bottom {
            margin-top: 2rem;
            font-weight: 500;
            text-transform: uppercase;
            font-size: 16px;
            color: #fff;
            @media(max-width:767px){
            text-align: center;
            }
        }
    }
}
